html,
/* tr{
    border: 1px solid black;
}
th{
    border: 1px solid black;
} */
table{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
  }
form{
    display: block;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 25px;
    grid-gap: 5px;
    justify-content: center;
}
select {
    height: 25px;
    font-size: 16px
}
.dateFrom {
    height: 25px;
    font-size: 16px
}
.dateTo {
    height: 25px;
    font-size: 16px
}
button {
    grid-column: 2;
    height: 25px;
    font-size: 16px;
    background-color: #C8E2C7;
}
strong{
    font-size: 20px
}